.pre-content-wrapper {
  background-color: rgb(14, 0, 36);
  color: rgb(128, 134, 40);
  padding: 15px 20px;
}

.keyword {
  color: #07a;
}

.operator {
  color: #a67f59;
}

.punctuation {
  color: #999;
}

.number {
  color: #905;
}